---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?query=Fast
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TMDB_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - dcfb232298b78a556be1adb6c97a6870
      X-Memc-Age:
      - '8549'
      X-Memc-Expires:
      - '17501'
      Etag:
      - W/"4143c8cd12725849e6211074cb79edd7"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":null,"genre_ids":[53,18],"id":556682,"original_language":"en","original_title":"Fast","overview":"A
        former special forces badass is recruited by the DEA to lead a covert black
        ops team to take down drug dealers that are protected by the CIA.","popularity":0.1624,"poster_path":null,"release_date":"","title":"Fast","video":false,"vote_average":0.0,"vote_count":0},{"adult":false,"backdrop_path":null,"genre_ids":[28,35],"id":391559,"original_language":"en","original_title":"Fast","overview":"A
        balls to the wall action film about Fast, the fastest person alive, who is
        also named Fast.","popularity":0.1536,"poster_path":"/p8c0a159yKnpciQCFsR8BaC23po.jpg","release_date":"2010-06-24","title":"Fast","video":false,"vote_average":7.897,"vote_count":73},{"adult":false,"backdrop_path":null,"genre_ids":[],"id":1130892,"original_language":"en","ori[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/top_rated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TMDB_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - da14c0526e9ed3fa5ab3c5adbcd369c1
      X-Memc-Age:
      - '2352'
      X-Memc-Expires:
      - '19256'
      Etag:
      - W/[...]
