---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?query=Matrix
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TMDB_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 9682d400a3b6b2312c525b3e5438b4f0
      X-Memc-Age:
      - '3031'
      X-Memc-Expires:
      - '24303'
      Etag:
      - W/"9f0e9f315ae645518ace439eaacabc4a"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":null,"genre_ids":[],"id":555879,"original_language":"en","original_title":"Matrix","overview":"The
        film is composed of receding planes in a landscape: a back garden and the
        houses beyond. The wooden lattice fence, visible in the image, marks the border
        between enclosed and open, private and public space, and forms both a fulcrum
        for the work and a formal grid by which the shots are framed and organised.","popularity":0.555,"poster_path":"/AfFD10ZqEx2vkxM2yvRZkybsGB7.jpg","release_date":"1998-12-31","title":"Matrix","video":false,"vote_average":7.041,"vote_count":49},{"adult":false,"backdrop_path":null,"genre_ids":[],"id":775293,"original_language":"en","original_title":"Matrix","overview":"\"MATRIX
        is a flicker film which utilizes 81 still photographs of my wife''s head.
        It is a film dependent upon variation of intense light changes by calculated
        combinations of black and white frame alternations with exposure changes.
        Throughout, the light intensity rises and falls as the head rotates in varying
        directions within[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/top_rated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TMDB_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - da14c0526e9ed3fa5ab3c5adbcd369c1
      X-Memc-Age:
      - '989'
      X-Memc-Expires:
      - '24704'
      Etag:
      - W/"[...]
